<header
    class="border-b border-gray-200 w-full h-16 flex items-center px-4 gap-4"
>
    <a href="/ErickCReis/" class="text-blue-500">Home</a>
    <a href="/ErickCReis/login" class="text-blue-500">Login</a>
    <button id="logout">Logout</button>
</header>

<script>
    import { authClient } from "@/lib/auth-client";

    const logout = document.getElementById("logout")!;
    logout.addEventListener("click", () => {
        authClient.signOut().then(() => {
            window.location.reload();
        });
    });
</script>
