---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import "../styles/site.css";

interface Props {
  title: string;
  description?: string;
  lang?: string;
}

const { title, description, lang = "en" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {description && <meta name="description" content={description} />}
    <Font cssVariable="--font-family-sans" preload />
    <Font cssVariable="--font-family-serif" preload />
    <Font cssVariable="--font-family-mono" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body>
    <div id="app">
      <slot />
    </div>
  </body>
</html>
